@import 'variables.scss';

.About {
  &__container {
    @include flexCenter;
    padding: 0 5rem;

    @media only screen and (max-width: 950px) {
      flex-direction: column;
    }
  }

  &__photo-container {
    width: 40rem;
    border-radius: 4px;
    overflow: hidden;

    box-shadow: $box-shadow-default;

    @media only screen and (max-width: 950px) {
      margin-bottom: 5rem;
      width: 27rem;
    }
    @media only screen and (max-width: $bp-xs) {
      width: 70%;
    }
  }

  &__photo {
    width: 100%;
    height: auto;
    display: block;
  }

  &__description {
    margin-left: 5rem;
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    align-items: flex-start;

    @media only screen and (max-width: 950px) {
      width: 100%;
      margin-left: 0;
    }

    p {
      margin-bottom: 2rem;
      line-height: 1.6;
    }
  }

  .highlight {
    color: $color-primary;
    font-weight: 700;
  }

  .cta {
    text-align: center;
    display: inline-block;
  }
}
