@import 'variables.scss';

.Header {
  // border: 1px solid tomato;
  height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include flexCenter;
  flex-direction: column;

  // color: $color-black;
  // background: url(../img/svg/header-bg.svg);
  // background-size: contain;
  // background-repeat: no-repeat;
  // // background-position: top -3rem right;
  // background-position: top 5rem center;

  & > *:not(#header-bg) {
    // border: 1px solid tomato;
    position: relative;
  }

  &__heading {
    font-size: 9rem;
    font-weight: 700;
    transform: translateY(-50%);
    margin-top: 22%;
  }

  &__sub-heading {
    font-size: 3.13rem;
    font-weight: 100;
    color: $color-gray;
    transform: translateY(-120%);
  }
}

// -------------------- header-bg svg styles --------------------
#header-bg {
  // border: 1px solid tomato;
  opacity: 0.8;
  position: absolute;
  top: 15%;
}

.bg-group {
  // fill: red;
  // transform: scale(1.5);
  // transform-origin: center;
}

// -------------------- sub-header svg styles --------------------
#sub-header {
  height: 3.25rem;
  width: auto;
  transform: translateY(-120%);
}

.path-stroke {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: line-anim 0.2s ease forwards;
  /* animation: line-anim 0.2s forwards; */
}

@keyframes line-anim {
  from {
    fill: transparent;
  }
  to {
    /* stroke-dashoffset: 0; */
    fill: #494949;
  }
}
