@import 'variables.scss';

.Header {
  // border: 1px solid tomato;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  // left: 50%;
  // transform: translateX(-50%);

  color: $color-black;
  background: url(../img/svg/header-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top -3rem right;

  &__heading {
    font-size: 9rem;
    font-weight: 700;
    transform: translateY(-50%);
  }

  &__sub-heading {
    font-size: 3.13rem;
    font-weight: 100;
    color: $color-gray;
    transform: translateY(-120%);
  }

  .cta {
    padding: 1rem 2.5rem;
    border-radius: 0.3rem;
    background-color: $color-primary;
    transition: background-color 0.2s;

    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-primary-dark;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
