@import 'variables.scss';

.Header {
  // border: 1px solid tomato;
  height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include flexCenter;
  flex-direction: column;

  @media only screen and (max-width: $bp-md) {
    align-items: flex-start;
  }

  @media only screen and (max-width: $bp-sm) {
    border: 1px solid;
  }

  & > *:not(.header-bg) {
    // border: 1px solid tomato;
    position: relative;
    top: 15rem;

    @media only screen and (max-width: $bp-md) {
      top: 10rem;
    }
  }

  &__heading {
    font-size: 8rem;
    font-weight: 700;

    @media only screen and (max-width: $bp-lg) {
      font-size: 7.1rem;
    }

    @media only screen and (max-width: $bp-md) {
      font-size: 6rem;
    }
  }

  &__sub-heading {
    font-size: 2.73rem;
    font-weight: 100;
    color: $color-gray;

    @media only screen and (max-width: $bp-lg) {
      font-size: 2.43rem;
    }

    @media only screen and (max-width: $bp-md) {
      font-size: 2.23rem;
    }
  }

  .cta {
    margin-top: 3rem;
  }
}

// -------------------- header-bg svg styles --------------------
.header-bg {
  // border: 1px solid tomato;
  opacity: 0.8;
  position: absolute;
  top: 15%;

  @media only screen and (max-width: $bp-md) {
    align-self: center;
    top: unset;
  }
}

#header-bg-md {
  top: -10%;
  right: -32rem;
  transform: rotate(30deg);
}

// .bg-group {
//   // fill: red;
//   // transform: scale(1.5);
//   // transform-origin: center;
// }

// g[data-name='group'] {
//   transform: scale(1.5);
// }

// -------------------- sub-header svg styles --------------------
#sub-header {
  height: 3.25rem;
  width: auto;
  transform: translateY(-120%);
}

.path-stroke {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: line-anim 0.2s ease forwards;
  /* animation: line-anim 0.2s forwards; */
}

@keyframes line-anim {
  from {
    fill: transparent;
  }
  to {
    /* stroke-dashoffset: 0; */
    fill: #494949;
  }
}
